.app-container{
  background-color: #3A7D44;
  padding: 1rem;
  padding-bottom: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
}


.header {
  text-align: center;
  margin-bottom: 2rem;
}

.description {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9DC08B;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.dice-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  margin-bottom: 1rem;
}


.dice-container button {
  height: 5rem;
  border-radius: 12px; /* Rounded corners */
  background-color: #DF6D14; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  font-size: 2rem; /* Text size */
  cursor: pointer; /* Cursor to indicate button click */

  /* Box shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  flex: 0 0 calc(20% - 2rem);
}


.dice-container button:hover {
  background-color: #b35004; /* Darker shade on hover */
}


